<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gif Search</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="style.css">
  


  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
</head>
<body>
  
  <section id="app" class="section container">    

   
   <h2 class="title">Search for gifs</h2>
   <input type="text" class="input" name="query" v-model="query" v-on:keyup="searchGifs">
   
    <div class="columns is-multiline" v-if="searchedGifs" >
      <div class="column is-one-quarter" v-for="gif in searchedGifs">
        <div class="gif-box">
          <a :href="gif.url">
            <img class="gif-image" :src="gif.images.original.url">
          </a>
          <a 
            class="gif-user" 
            v-if="gif.user" 
            :href="gif.user.profile_url">
              <img :src="gif.user.avatar_url" height="40" width="40">
              {{ gif.user.display_name }}
          </a>
        </div>
      </div>
    </div>
   <br>
<hr style="margin-top: 100px">
      
  <h2 class="title">Trending</h2>
    <div class="columns is-multiline" v-if="trendingGifs">
      <div class="column is-one-quarter" v-for="gif in trendingGifs">
        <div class="gif-box">
          <a :href="gif.url">
            <img class="gif-image" :src="gif.images.original.url">
          </a>
          <a 
            class="gif-user" 
            v-if="gif.user" 
            :href="gif.user.profile_url">
              <img :src="gif.user.avatar_url" height="40" width="40">
              {{ gif.user.display_name }}
          </a>
        </div>
      </div>
    </div>



  </section>

 
  <script src="main.js">
    
  </script>
</body>
</html>