    .gif-box {
      position: relative;
      background: #333;
    }
    .gif-user   {
      display: flex;
      align-items: center;
      position: absolute;
      left: 15px;
      bottom: 15px;
    }
    .gif-user img {
      margin-right: 8px;
    }
	.columns {
	  background-color: lightgrey
	}
	.input {
	margin-bottom: 30px
	
	}